@font-face{
  font-family: Volter;
  src: url('/i/volter.woff');
} @font-face{
  font-family: Volter-Bold;
  src: url('/i/volter-bold.woff');
} body{
text-align: center;
background: url(/i/bgp2.png);
} hr{
width: 98%;
margin-top: 4px;
border: 1px outset #7ce60f;
box-shadow: 8px 5px 6px #35631a;
} ul{
list-style: none;
} table{
border-collapse: collapse;
margin: 0 5pt 0 3%;
width: 94%;
} #logo {
position:relative;
left: -40%;
} #vain{
border: 2px groove gold;
background: radial-gradient(#aaaaaa, #888888);
} #erhe{
border: 2px ridge red;
background: radial-gradient(#cc7799, #fddd12);
} #noin{
border: 2px groove green;
background: radial-gradient(#cce799, #fddd12);
} #uusiviesti{
background: #95eea7;
border: 1px dashed fuchsia;
} #nav{
font-size: 13pt;
} #statusfrm{
border: 4px ridge rgba(50,37,137,0.38);
background: linear-gradient(155deg,rgba(119,204,172,0.77),rgba(162,151,174,0.77));
} #desc{
  left: 1em;
  width: 80%;
  overflow: auto;
  text-align: left;
  position: relative;
  display: inline-table;
} .side{
  width: 15%;
  position: relative;
  display: inline-table;
} .lh{
  font-family: monospace;
} .sbm{

} .sttbl{
  border: 3px double black;
  text-align: center;
} .sttbl>tbody>tr>td, .sttbl>tbody>tr{
  border-bottom: 1px solid black;
} .sttbl>tbody>tr>td, .sttbl>tbody>tr>th{
  border-right: 1px dotted black;
} .wshi {
  color:#ee0a0a;
  background:#0a0a0a;
} .wshi>caption{
  background: black;
  color:greenyellow;
} .wshi>tbody>tr.odr{
  color:#0a0a0a;
  background:#ee0a0a;
} .wshi>tbody>tr.evr{

} .box{
  border: 12px solid green;
  border-image: url("/i/pbox.png") 12 12 12 12 repeat repeat;
  background: #5ecf7a content-box;
} .boxtitle{
  margin-top: 1em;
  margin-bottom: 0;
  border: 6px outset green;
  border-image: url("/i/pd_title.png") 20 20 0 19 repeat repeat;
  border-width: 20px 20px 0;
  font-family: Volter-Bold;
  font-size: 9px;
  color: #000000;
  text-decoration: none;
} .boxtitle>p{
  margin: -16px 35% 0 0;
  background: #5ecf7a;
  float: right;
  padding: 5px 4px 1px;
} .boxcontent{
  margin-top: 0;
  margin-bottom: 1em;
  border: 16px inset green;
  border-image: url("/i/pd_content.png") 17 17 16 16 repeat repeat;
  border-width: 16px;
  font-family: Volter;
  font-size: 9px;
  color: #000000;
  text-decoration: none;
  background: #efefef content-box;
}